<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sass Starter App</title>
    <meta name="description" content="have a terrible day" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">
      <h1>
        Sass Starter Kit
      </h1>
      <h2>
        What is Sass?
      </h2>
      <p>
        <a href="https://sass-lang.com/">Sass</a> is a CSS precompiler. It gives
        you some functionality that isn't available in CSS out of the box.Things like nested code blocks, iteration, mixins. Sass also give you the ability to use partials to break apart your CSS file into smaller managable chunks, which is a game changer for most any codebase.
      </p>
      <p>
        The best part is that Sass is just CSS. No need to learn a new language.
      </p>
      <h2>
        How to use this starter
      </h2>
      <p>
        This starter app is Hello Express that's been supercharged with Sass.
      </p>
      <ol>
        <li>
          <a href="https://glitch.com/edit/#!/remix/sassy-starter-app"
            >Remix</a
          >
          this app.
        </li>
        <li>Open <code>source/style.scss</code>.</li>
        <li>Try changing the colors to see what happens!</li>
        <li>Change colors, fonts, and other styles to match your app!</li>
        <li>Create new partials to keep your CSS managable</li>
      </ol>
    </div>
    
        <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
